In [1]:
import pandas as pd

In [5]:
df = pd.read_parquet('./data/tLOC.parquet')

In [21]:
df = pd.read_parquet('./data/tLA_PROP.parquet')

In [11]:
df.columns

Index(['PROP_ID', 'PROP_TYP_CD', 'BOE_VLD_ADDR_FLG', 'PROP_CMN_NM',
       'ASSR_PRCL_NBR', 'MULTI_PRCL_FLG', 'TRACT_NBR', 'BLCK_NBR', 'LOT_NBR',
       'ARB_NBR', 'MULTI_LOT_FLG', 'STR_NBR', 'STR_NBR_RNG_END',
       'STR_FRAC_NBR', 'STR_FRAC_NBR_RNG_END', 'STR_DIR_CD', 'STR_NM',
       'OLD_STRNM_TXT', 'STR_SFX_CD', 'STR_SFX_DIR_CD', 'STR_UNIT_TYP_CD',
       'UNIT_NBR', 'UNIT_NBR_RNG_END', 'ZIP_CD', 'ZIP_CD_SFX', 'CNCL_DIST_NBR',
       'PLAN_AREA_NBR', 'ZONE_REG_CD', 'BOE_DIST_MAP_NBR', 'CENSUS_TRACT_NBR',
       'ZONE_MAP_NBR', 'PLAN_LAND_USE_TXT', 'PLAN_ZONE_TXT',
       'ENVIRON_CLRNC_NBR', 'ENVIRON_CLRNC_DT', 'LOT_AREA_SQ_FT_NBR',
       'LOT_DIM_TXT', 'TOT_PROJ_SQ_FT_NBR', 'PROP_RET_DT', 'PARNT_PROP_ID',
       'PROP_CURR_USGE_TXT', 'SYS_USER_ID', 'TIMESTAMP', 'PIN', 'APC_AREA_CD',
       'CNC_CD', 'CRTN_ID', 'CRTN_DT', 'HPOZ', 'COMM_CNCL_CD',
       'CRA_REDEV_PROJECTID'],
      dtype='object')

In [22]:
df = df[["PROP_ID", "ASSR_PRCL_NBR", "CENSUS_TRACT_NBR"]]

In [25]:
df.CENSUS_TRACT_NBR.value_counts()

2260.00       4023
1942.00       3936
2060.31       3358
1380.00       3000
1397.02       2715
              ...
2118.01          1
9800.26          1
1411.0-.01       1
2267.00          1
1370.00          1
Name: CENSUS_TRACT_NBR, Length: 2044, dtype: int64

In [31]:
tracts = df.sort_values("CENSUS_TRACT_NBR").drop_duplicates(subset="CENSUS_TRACT_NBR")

In [38]:
tracts['str_length'] = tracts.CENSUS_TRACT_NBR.str.len()

In [39]:
tracts.str_length.value_counts()

7.0     1159
10.0     867
4.0        7
6.0        5
8.0        4
9.0        1
1.0        1
Name: str_length, dtype: int64

In [42]:
tracts[tracts.str_length==6]

           PROP_ID ASSR_PRCL_NBR CENSUS_TRACT_NBR  length  str_length
107370  59048985.0    2126023007           1310.2     6.0         6.0
107480  59049452.0    2503010018           160.20     6.0         6.0
115042  59057316.0    5484019004           1836.2     6.0         6.0
45354   58981494.0    5144020042           2077.1     6.0         6.0
29740      28924.0          None           214800     6.0         6.0

In [24]:
df[(df.CENSUS_TRACT_NBR.notna()) & (df.ASSR_PRCL_NBR.isna())]

           PROP_ID ASSR_PRCL_NBR CENSUS_TRACT_NBR
3751    59029598.0          None          2074.00
3810    59034166.0          None          2077.10
6545    59044782.0          None          2742.00
8999    59022403.0          None          2260.00
9000    59033999.0          None          2260.00
...            ...           ...              ...
600953  59492937.0          None       1372.01
600959  59492943.0          None       1374.01
600961  59492945.0          None         Multiple
604590  59548726.0          None       9800.31
604621  59546758.0          None          1431.00

[5899 rows x 3 columns]

In [15]:
len(df[df.CENSUS_TRACT_NBR.isna()])

90961

In [16]:
len(df)

605713

In [20]:
print(len(df[df.CENSUS_TRACT_NBR.isna()]) / len(df))

0.1501717810250069