# Check Census data and compile, clean, convert to the right units
* Census API doesn't seem to be working properly...check that all years have the same number of obs

In [1]:
import numpy as np
import pandas as pd

In [2]:
for name in ['commute', 'income', 'income_range', 'vehicles']:
    file_name = f'{name}_tract'
    df = pd.read_csv(f'../data/{file_name}.csv')
    display(name)
    display(df.year.value_counts())

'commute'

2018    70380
2017    70380
2016    70380
2015    70380
2014    70380
2013    70380
2012    70380
2011    70380
2010    70380
Name: year, dtype: int64

'income'

2018    46920
2017    46920
2016    46920
2015    46920
2014    46920
2013    46920
2012    46920
2011    46920
2010    46920
Name: year, dtype: int64

'income_range'

2018    398820
2017    398820
2016    398820
2015    398820
2014    398820
2013    398820
2012    398820
2011    398820
2010    398820
Name: year, dtype: int64

'vehicles'

2018    46920
2017    46920
2016    46920
2015    46920
2014    46920
2013    46920
2012    46920
2011    46920
2010    46920
Name: year, dtype: int64