# TOC entitlements near bus/rail lines
* Which bus/rail lines or rail stations have seen the most TOC entitlement activity?
* Which ones have seen lots of non-TOC entitlement activity?

In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd
import intake
import boto3

In [3]:
catalog = intake.open_catalog("../catalogs/*.yml")

s3 = boto3.client('s3')
bucket_name = 'city-planning-entitlements'

In [14]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', 20)

In [4]:
toc_eligible_parcels_with_entitlements = gpd.read_file(
    f"s3://{bucket_name}/gis/intermediate/toc_eligible_parcels_with_entitlements.geojson"
)

In [5]:
tier1 = gpd.read_file('../gis/intermediate/reconstructed_toc_tiers_1.geojson')
tier2 = gpd.read_file('../gis/intermediate/reconstructed_toc_tiers_2.geojson')
tier3 = gpd.read_file('../gis/intermediate/reconstructed_toc_tiers_3.geojson')
tier4 = gpd.read_file('../gis/intermediate/reconstructed_toc_tiers_4.geojson')
tier0 = gpd.read_file( '../gis/intermediate/reconstructed_toc_tiers_0.geojson')

In [9]:
toc_tiers = tier0.append(tier1, sort = False).append(tier2, sort = False).append(tier3, sort = False).append(tier4, sort = False)

In [15]:
toc_tiers

,route_a,route_b,agency_a,route_name_a,agency_b,route_name_b,name,station_id,description,line,line_id,station,intersecting_route,intersecting_route_name,intersecting_route_agency,geometry
0,105-13108,10-13108,Metro - Los Angeles,105,Metro - Los Angeles,10/48,None,None,None,None,NaN,None,None,None,None,GEOMETRYCOLLECTION (POINT (-118.38325 34.08535...
1,108-13108,10-13108,Metro - Los Angeles,108/358,Metro - Los Angeles,10/48,None,None,None,None,NaN,None,None,None,None,POINT (-118.27392 33.98921)
2,110-13108,10-13108,Metro - Los Angeles,110,Metro - Los Angeles,10/48,None,None,None,None,NaN,None,None,None,None,"MULTIPOINT (-118.27392 33.98243, -118.27176 33..."
3,111-13108,10-13108,Metro - Los Angeles,111,Metro - Los Angeles,10/48,None,None,None,None,NaN,None,None,None,None,POINT (-118.26953 33.97472)
4,115-13108,10-13108,Metro - Los Angeles,115,Metro - Los Angeles,10/48,None,None,None,None,NaN,None,None,None,None,POINT (-118.26950 33.96012)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,None,None,None,None,None,None,None,None,None,Regional Connector,801.0,2nd Street/Broadway,728-13108,728,Metro - Los Angeles,"POLYGON ((-118.24323 34.05202, -118.24324 34.0..."
965,None,None,None,None,None,None,None,None,None,Regional Connector,801.0,2nd Street/Broadway,745-13108,745,Metro - Los Angeles,"POLYGON ((-118.24323 34.05202, -118.24324 34.0..."
966,None,None,None,None,None,None,None,None,None,Regional Connector,801.0,2nd Street/Broadway,770-13108,770,Metro - Los Angeles,"POLYGON ((-118.24323 34.05202, -118.24324 34.0..."
967,None,None,None,None,None,None,None,None,None,Regional Connector,801.0,2nd Street/Broadway,910-13108,910/950,Metro - Los Angeles,"POLYGON ((-118.24323 34.05202, -118.24324 34.0..."
968,None,None,None,None,None,None,None,None,None,Regional Connector,801.0,2nd Place/Hope Street,760-13108,760,Metro - Los Angeles,"POLYGON ((-118.24810 34.05514, -118.24811 34.0..."