# Clean ZIMAS / zoning file
* Use parser in utils to parse ZONE_CMPLT
* Iterative process - work with Planning to figure out the ones that can't be parsed
* Use this to build crosswalk of height, density, etc restrictions

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import intake
import utils

In [2]:
catalog = intake.open_catalog("../catalogs/*.yml")

In [3]:
# Default value of display.max_rows is 10 i.e. at max 10 rows will be printed.
# Set it None to display all rows in the dataframe
pd.set_option('display.max_rows', None)

In [4]:
df = catalog.zoning.read()
df = df[['ZONE_CMPLT']].drop_duplicates()

#df = pd.read_parquet('../data/zoning.parquet')

## Parse zoning string

In [5]:
def parse_zoning(row):
    try:
        z = utils.ZoningInfo(row.ZONE_CMPLT)
        return pd.Series([z.Q, z.T, z.zone_class, z.specific_plan, z.height_district, z.D, z.overlay, z.invalid_zone, z.invalid_height], 
                         index = ['Q', 'T', 'zone_class', 'specific_plan', 'height_district', 'D', 'overlay', 'invalid_zone', 'invalid_height'])
    except ValueError:
        return pd.Series(['failed', 'failed', 'failed', 'failed', 'failed', 'failed', 'failed', '', ''], 
                         index = ['Q', 'T', 'zone_class', 'specific_plan', 'height_district', 'D', 'overlay', 'invalid_zone', 'invalid_height'])

    
parsed = df.apply(parse_zoning, axis = 1)

df = pd.concat([df, parsed], axis = 1)

df.head()

,ZONE_CMPLT,Q,T,zone_class,specific_plan,height_district,D,overlay,invalid_zone,invalid_height
0,C2-1-SP,False,False,C2,,1,False,[SP],,
1,C1.5-1-SP,False,False,C1.5,,1,False,[SP],,
4,[Q]C1.5-1,True,False,C1.5,,1,False,,,
10,[Q]C1.5-1-RIO,True,False,C1.5,,1,False,[RIO],,
12,[Q]C1.5-1-O,True,False,C1.5,,1,False,[O],,

In [6]:
# Check a couple of cases to see how well the parser worked
df[df.ZONE_CMPLT.isin(['SL', 'USC-1A', 'CW', 
                       'R4(PV)', 'OS(UV)', 'GW(CA)', 
                      '[Q]C1.5-1-RIO', '(T)(Q)RAS3-1L', '(T)M1-2D'])]

,ZONE_CMPLT,Q,T,zone_class,specific_plan,height_district,D,overlay,invalid_zone,invalid_height
10,[Q]C1.5-1-RIO,True,False,C1.5,,1,False,[RIO],,
5859,USC-1A,False,False,invalid,USC-1A,,False,,,
12398,GW(CA),False,False,invalid,CA,,False,,,
15912,CW,False,False,,CW,,False,,,
47002,R4(PV),False,False,R4,PV,,False,,,
51123,SL,False,False,SL,,,False,,,
59863,(T)(Q)RAS3-1L,True,True,RAS3,,1L,False,,,
59893,(T)M1-2D,False,True,M1,,2,True,,,
60015,OS(UV),False,False,OS,UV,,False,,,

In [7]:
df[(df.zone_class == 'invalid') | (df.zone_class == 'failed') | (df.zone_class == "")][['ZONE_CMPLT']]

                    ZONE_CMPLT
70          (WC)TOPANGA-SN-RIO
772                      USC-3
1094                  [Q]RZ5-1
1303                     A2P-1
1369               (T)(Q)RZ5-1
1487                  (T)R4P-2
1622              [Q]R2P-1-CDO
1678                  [Q]R3P-1
1681                 [Q]R3P-1L
1684              [Q]R3P-4-CDO
2000              (F)CM-1-CUGU
2007              (F)CM-1-HPOZ
2009            (F)CM-1-O-HPOZ
2010               (F)R2-1-RIO
2013                 (F)RE11-1
2413                  (Q)R3P-1
2414            (Q)R3P-1VL-CDO
2433                (Q)R4P-1-O
2669                    UV(CA)
3284                UC(CA)-CDO
4818                  [Q]CCS-O
5859                    USC-1A
7025           [Q]CM(GM)-2D-CA
7242                    UC(CA)
7907        [Q]R1P-1L-CDO-CUGU
8449                   ADP-RIO
9039                     USC-2
10730             C2-1VL-CPIO
12128                   USC-1B
12387                   UI(CA)
12398                   GW(CA)
14383              (Q)CEC-4D-O
14933                   LACFCD
14934                    LASED
15912                       CW
16044                     FRWY
18447                  R3P-1VL
18642                     R1V2
18669                R1R3-CPIO
19157              (WC)PARK-SN
20930                 QR1P-1VL
20958                     R1R3
21032                     R1H1
21048                     R1V1
21067                  R1R3-RG
21080                     R1V3
24540                  R1V3-RG
29047                R1V2-HPOZ
29324              R1R3-O-CPIO
29388                   R1H1-O
29392                   R1V2-O
29401                   R1V1-O
29457                R1V3-RG-O
29458                R1R3-RG-O
29678                   R1V3-O
34076                     PVSP
34495           R1-1XL-O#-CUGU
34514                    R1P-1
34525                  R1P-1VL
34532             R1P-1VL-CUGU
34538                    R1P-2
36033                R1H1-1D-O
37250                 R2P-1VLD
37342                      LAX
40298                    R3P-1
40311                 R3P-1VLD
40313                    R3P-2
44578                    RAP-1
44579               RAP-1-CUGU
44580                  RAP-1VL
47012                    R4P-1
47013               R4P-1-CUGU
47022                  R4P-1-O
47025                   R4P-1L
47026              R4P-1VL-RIO
47027                    R4P-2
47074                    R5P-1
47075                    R5P-2
51074                RSP-1-RIO
51139           (WC)TOPANGA-SN
51140          (WC)COMMERCE-SN
51147          (WC)DOWNTOWN-SN
51150           (WC)COLLEGE-SN
51160  (WC)NORTHVILLAGE-SN-RIO
51165        (WC)UPTOWN-SN-RIO
51287                   R1P-1L
51395                  VARIOUS
52918                RE15-1-H#
52919         RE15-1-RPD-2.9-H
53327                    M(PV)
53755         [Q]C4(OX)-2D-CDO
54537               (Q)R3P-1VL
54544                  R4P-1VL
56135              R1P-1VL-RIO
57017         (WC)RIVER-SN-RIO
58399                   MU(EC)
58400                 MU(EC)-O
58409            NMU(EC)-O-POD
58411              NMU(EC)-POD
58421                   NI(EC)
58491                   HJ(EC)
58504                 HJ(EC)-O
58513                 NI(EC)-O
58559                 HR(EC)-O
58580                   HR(EC)
59963               GW(CA)-CDO
60557                     PPSP

In [8]:
print(f"Obs that failed to be parsed: {len(df[df.Q == 'failed'])}")
print(f"Obs that failed to be parsed, invalid, or blanks: {len(df[(df.zone_class == 'invalid') | (df.zone_class == 'failed') | (df.zone_class == '')])}")

Obs that failed to be parsed: 0
Obs that failed to be parsed, invalid, or blanks: 107

/opt/conda/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [9]:
""" 
With hyphen, try this:
    ([0-9A-Z]+)*(\([A-Z]+\))*([-1-4DLVXS]+)*((?:-[A-Z]+)*)$
"""

' \nWith hyphen, try this:\n    ([0-9A-Z]+)*(\\([A-Z]+\\))*([-1-4DLVXS]+)*((?:-[A-Z]+)*)$\n'

## Zone Class

In [10]:
# Check if valid zone classes are used
df['valid_zone'] = df.zone_class.isin(utils.VALID_ZONE_CLASS)

df.valid_zone.value_counts()

True     1827
False     107
Name: valid_zone, dtype: int64

In [11]:
print(f'# obs with invalid zones: {len(df[df.valid_zone == False])}')
print(f'# of unique invalid zones: {df[df.valid_zone == False].zone_class.nunique()}')

# obs with invalid zones: 107
# of unique invalid zones: 2

In [12]:
# Look at what these invalid zones are
# Appears that you can have multiple zones? R3 + P? Is this correct?
# Or, is there a hierarchy, where least restrictive includes all uses of most restrictive, and that spans across residential, agricultural, etc.
df[df.zone_class == 'invalid'].invalid_zone.value_counts()

        21
R3P     10
R4P      9
R1P      8
R1R3     4
R1V3     3
RAP      3
R5P      2
RZ5      2
R1H1     2
R2P      2
R1V2     2
RSP      1
CCS      1
R1V1     1
CEC      1
A2P      1
ADP      1
Name: invalid_zone, dtype: int64

In [13]:
'''
def zone_class(row):
    """
    This function tags the 35 different zone classes based
    on the first letter
    """
    
    open_space_zones = ['OS']
    agricultural_zones = ['A1', 'A2']
    residential_zones = ['RA', 'RE', 'RS', 'R1', 'RU', 'RZ', 'RW1', 
                         'R2', 'RD', 'RMP', 'RW2', 'R3', 'RAS3', 'R4', 'RAS4', 'R5']
    commercial_zones = ['CR', 'C1', 'C1.5', 'C4' ,'C2', 'C5', 'CM']
    manufacturing_zones = ['MR1', 'M1', 'MR2', 'M2', 'M3']
    
    text = row.zone_class
    
    if any(zone in text for zone in open_space_zones):
        return 'open_space'
    if any(zone in text for zone in agricultural_zones):
        return 'agricultural'
    if any(zone in text for zone in residential_zones):
        return 'residential'
    if any(zone in text for zone in commercial_zones):
        return 'commercial'
    if any(zone in text for zone in manufacturing_zones):
        return 'manufacturing'
    if 'PF' in text:
        return 'public_facility'
    if (('P' in text) or ('PB' in text)) and ('PF' not in text):
        return 'parking'
    if 'SL' in text:
        return 'submerged_lands'
    else:
        return ''

df['zone_class_descrip'] = df.apply(zone_class, axis = 1)   

df.zone_class_descrip.value_counts()
'''

'\ndef zone_class(row):\n    """\n    This function tags the 35 different zone classes based\n    on the first letter\n    """\n    \n    open_space_zones = [\'OS\']\n    agricultural_zones = [\'A1\', \'A2\']\n    residential_zones = [\'RA\', \'RE\', \'RS\', \'R1\', \'RU\', \'RZ\', \'RW1\', \n                         \'R2\', \'RD\', \'RMP\', \'RW2\', \'R3\', \'RAS3\', \'R4\', \'RAS4\', \'R5\']\n    commercial_zones = [\'CR\', \'C1\', \'C1.5\', \'C4\' ,\'C2\', \'C5\', \'CM\']\n    manufacturing_zones = [\'MR1\', \'M1\', \'MR2\', \'M2\', \'M3\']\n    \n    text = row.zone_class\n    \n    if any(zone in text for zone in open_space_zones):\n        return \'open_space\'\n    if any(zone in text for zone in agricultural_zones):\n        return \'agricultural\'\n    if any(zone in text for zone in residential_zones):\n        return \'residential\'\n    if any(zone in text for zone in commercial_zones):\n        return \'commercial\'\n    if any(zone in text for zone in manufacturing_zones):\n        return \'manufacturing\'\n    if \'PF\' in text:\n        return \'public_facility\'\n    if ((\'P\' in text) or (\'PB\' in text)) and (\'PF\' not in text):\n        return \'parking\'\n    if \'SL\' in text:\n        return \'submerged_lands\'\n    else:\n        return \'\'\n\ndf[\'zone_class_descrip\'] = df.apply(zone_class, axis = 1)   \n\ndf.zone_class_descrip.value_counts()\n'

## Height District

In [14]:
df['valid_height'] = df.apply(lambda row: False if row.height_district in(['', 'invalid']) else True, axis = 1)

df.valid_height.value_counts()

True     1827
False     107
Name: valid_height, dtype: int64

In [15]:
# Look at what these invalid heights are.
# 1VL, 2VL seem like they could be legitimate. What is EZ1VL?
df[df.valid_height == False].invalid_height.value_counts()

         84
O         8
RG        4
EZ1VL     3
2L        2
CSA1      1
RIO       1
HPOZ      1
2VL       1
CDO       1
CPIO      1
Name: invalid_height, dtype: int64

In [16]:
print(f'# obs with invalid height districts: {len(df[df.valid_height == False])}')
print(f'# of unique invalid height districts: {df[df.valid_height == False].invalid_height.nunique()}')

# obs with invalid height districts: 107
# of unique invalid height districts: 11

## D Limit

In [17]:
df.D.value_counts()

False    1635
True      299
Name: D, dtype: int64

In [18]:
df[df.D == True].height_district.value_counts()
# Checked, if there is height district followed by a D, those are all tagged as True

2      138
1       61
1VL     39
4       31
1L      22
1XL      6
3        2
Name: height_district, dtype: int64

In [19]:
# Will need to make sure it's not mixed-type at time of export. Cannot be boolean and string
#df.D = df.replace('', False)
df.D = df.D.astype(bool)

## Overlay

In [20]:
type(df.overlay.iloc[1])

list

In [21]:
# Fill in Nones, otherwise cannot do the apply to make the list a string
just_overlay = df[df.overlay != 'failed'][['overlay']]

In [22]:
just_overlay['no_brackets'] = just_overlay['overlay'].apply(', '.join)

In [23]:
just_overlay.no_brackets.value_counts()

                 705
RIO              180
O                148
CUGU             141
CDO              100
CPIO              84
HPOZ              73
O, CUGU           54
CDO, RIO          52
K                 45
SN                36
RIO, CUGU         29
HCR               27
H                 26
O, HPOZ           25
CDO, CUGU         21
O, CPIO           18
G, CUGU           17
K, RIO            13
RFA               10
H, HCR            10
H, K               9
SP                 9
O, CDO             8
CA                 8
O, SN              7
RIO, POD           6
O, K               6
HPOZ, CPIO         6
K, CUGU            5
O, CA              5
H, RIO             4
K, CPIO            4
O, CDO, CUGU       4
H, RPD, HCR        4
CDO, SN            4
SN, CPIO           3
G                  3
O, HPOZ, CPIO      3
K, HPOZ            2
POD                2
O, SP              2
O, POD             2
O, SN, CPIO        1
O, H, K            1
K, RFA             1
O, RFA             1
G, RIO             1
HPOZ, SP           1
O, HPOZ, CUGU      1
H, O, K            1
CDO, HPOZ          1
MPR                1
H, O               1
RPD, HCR           1
S, RIO             1
H, RPD             1
Name: no_brackets, dtype: int64

In [24]:
# Make a dictionary for supplemental use (map to overlay)
supplemental_use_dict = {
    # Supplemental Use found in Table 2 or Zoning Code Article 3
    'O': 'oil_drilling', 
    'S': 'animal_slaughtering', 
    'G': 'surface_mining', 
    'K': 'equinekeeping', 
    'CA': 'commercial_and_artcraft', 
    'MU': 'mixed_use', 
    'FH': 'fence_heights', 
    'SN': 'sign', 
    'HS': 'hillside_standards',
    'RG': 'rear_detached_garage', 
    'RPD': 'residential_planned_development', 
    'POD': 'pedestrian_oriented_district',
    'CDO': 'community_design_overlay',
    'NSO': 'neighborhood_stabilization_ordinance',
    'RFA': 'residential_floor_area',
    'MPR': 'modified_parking_requirement',
    'RIO': 'river_improvement_overlay',
    'HCR': 'hillside_construction_regulation',
    'CPIO': 'community_plan_implementation_overlay',
    'CUGU': 'clean_up_green_up_overlay',
    'HPOZ': 'historic_preservation_overlay_zone', 
}

In [25]:
specific_plan_dict = {
    # Are other zoning designations put in with zone class or overlay? HPOX appears as overlay, but a lot of other ones appear in the beginning with zone class.
    # Even more designations found in Zoning Code Article 2
    'CEC': 'convention_and_event_center_specific_plan',
    # Other Zoning Designations found in Zoning Code Article 2, Sec 12.04 Zones - Districts - Symbols.
    # Are these always in parantheses in the beginning, near the prefix??
    'CW': 'central_city_west_specific_plan', 
    'GM': 'glencoe_maxella_specific_plan', 
    'OX': 'oxford_triangle_specific_plan', 
    'PV': 'playa_vista_specific_plan', 
    'WC': 'warner_center_specific_plan', 
    'ADP': 'alameda_district_specific_plan', 
    'CCS': 'century_city_south_studio_zone', 
    'CSA': 'centers_study_area', 
    'PKM': 'park_mile_specific_plan',
    'LAX': 'los_angeles_airport_specific_plan', 
    #'HPOZ': 'historic_preservation_overlay_zone', 
    'LASED': 'la_sports_and_entertainment_specific_plan',
    'USC-1A': 'usc_university_park_campus_specific_plan_subarea_1a_zone',
    'USC-1B': 'usc_university_park_campus_specific_plan_subarea_1b_zone',    
    'USC-2': 'usc_university_park_campus_specific_plan_subarea_2_zone',
    'USC-3': 'usc_university_park_campus_specific_plan_subarea_3_zone',
    'PVSP': 'ponte_vista_at_san_pedro_specific_plan'
}

In [26]:
split = just_overlay.no_brackets.str.split(',', expand = True).fillna('')
split.rename(columns = {0: 'o1', 1: 'o2', 2: 'o3'}, inplace = True)

In [27]:
# Compile list of unique overlays, and see how well that matches with the dict
unique_overlays = pd.DataFrame(split.o1.append(split.o2).append(split.o3))

In [28]:
unique_overlays.rename(columns = {0: 'overlay'}, inplace = True)
unique_overlays.overlay = unique_overlays.overlay.str.strip()
unique_overlays = unique_overlays.drop_duplicates()
unique_overlays = unique_overlays.reset_index().drop(columns = ['index'])

In [29]:
unique_overlays['overlay_descrip'] = unique_overlays.overlay.map(supplemental_use_dict)

In [30]:
unique_overlays[unique_overlays.overlay_descrip.isna()]

   overlay overlay_descrip
0       SP             NaN
1                      NaN
10       H             NaN

In [31]:
# Invalid overlays
# What is SP? Specific Plan?
# Also, can't find H

## Misclasified
* Manually fix with a dictionary?
* Ask Planning team what invalid values are

In [32]:
spilt = pd.concat([just_overlay, split], axis = 1)

In [33]:
for col in ['o1', 'o2', 'o3']:
    new_col = f'{col}_descrip'
    split[col] = split[col].str.strip()
    split[new_col] = split[col].map(supplemental_use_dict)
    split[new_col] = split[new_col].fillna('')
    
tagged_overlay = pd.concat([just_overlay, split], axis = 1)

In [34]:
tagged_overlay.head(30)

,overlay,no_brackets,o1,o2,o3,o1_descrip,o2_descrip,o3_descrip
0,[SP],SP,SP,,,,,
1,[SP],SP,SP,,,,,
4,,,,,,,,
10,[RIO],RIO,RIO,,,river_improvement_overlay,,
12,[O],O,O,,,oil_drilling,,
13,[CUGU],CUGU,CUGU,,,clean_up_green_up_overlay,,
14,,,,,,,,
19,[CPIO],CPIO,CPIO,,,community_plan_implementation_overlay,,
23,[CPIO],CPIO,CPIO,,,community_plan_implementation_overlay,,
27,[CPIO],CPIO,CPIO,,,community_plan_implementation_overlay,,
38,[CDO],CDO,CDO,,,community_design_overlay,,
41,[RIO],RIO,RIO,,,river_improvement_overlay,,
70,,,,,,,,
79,"[O, CUGU]","O, CUGU",O,CUGU,,oil_drilling,clean_up_green_up_overlay,
105,,,,,,,,
106,,,,,,,,
108,"[RIO, POD]","RIO, POD",RIO,POD,,river_improvement_overlay,pedestrian_oriented_district,
121,[CPIO],CPIO,CPIO,,,community_plan_implementation_overlay,,
145,[CPIO],CPIO,CPIO,,,community_plan_implementation_overlay,,
151,,,,,,,,
283,[SP],SP,SP,,,,,
295,[CPIO],CPIO,CPIO,,,community_plan_implementation_overlay,,
374,,,,,,,,
402,[CDO],CDO,CDO,,,community_design_overlay,,
474,,,,,,,,
528,[CPIO],CPIO,CPIO,,,community_plan_implementation_overlay,,
542,[SP],SP,SP,,,,,
574,[CUGU],CUGU,CUGU,,,clean_up_green_up_overlay,,
609,,,,,,,,
647,"[RIO, CUGU]","RIO, CUGU",RIO,CUGU,,river_improvement_overlay,clean_up_green_up_overlay,

In [35]:
""" 
def find_overlays(row, overlays, op=all):
    if row.overlay is None:
        return False
    else:
        return op([o in row.overlay for o in overlays])

df[df.apply(lambda x: find_overlays(x, ['RIO', 'CDO'], op=any), axis=1)]
"""

" \ndef find_overlays(row, overlays, op=all):\n    if row.overlay is None:\n        return False\n    else:\n        return op([o in row.overlay for o in overlays])\n\ndf[df.apply(lambda x: find_overlays(x, ['RIO', 'CDO'], op=any), axis=1)]\n"

## Merge back together
### Make sure columns don't contain mixed types

In [36]:
df2 = pd.concat([df, tagged_overlay], axis = 1)

In [37]:
df2.dtypes

ZONE_CMPLT         object
Q                    bool
T                    bool
zone_class         object
specific_plan      object
height_district    object
D                    bool
overlay            object
invalid_zone       object
invalid_height     object
valid_zone           bool
valid_height         bool
overlay            object
no_brackets        object
o1                 object
o2                 object
o3                 object
o1_descrip         object
o2_descrip         object
o3_descrip         object
dtype: object

In [38]:
for col in ['Q', 'T', 'zone_class', 'specific_plan', 'height_district', 'D']:
    print(f'Column: {col}')
    print(df[col].value_counts())

Column: Q
True     1001
False     933
Name: Q, dtype: int64
Column: T
False    1553
True      381
Name: T, dtype: int64
Column: zone_class
C2         243
C4         104
R3          94
P           82
R4          81
invalid     74
RD1.5       73
CM          70
PF          69
R1          67
C1          66
M1          64
RD2         60
M2          53
MR1         51
CR          48
R2          45
RD3         43
OS          42
A1          40
C1.5        38
RAS4        34
            33
RA          29
M3          29
RE11        26
RD6         26
R5          26
PB          25
MR2         23
RE9         21
RS          20
RE40        19
RD5         19
RE20        17
RAS3        16
RD4         15
A2          14
RE15         9
RMP          7
C5           5
RZ4          2
RW1          2
RZ3          2
RU           2
RE           2
SL           2
RZ2.5        1
RW2          1
Name: zone_class, dtype: int64
Column: specific_plan
          1887
PV          12
EC          11
CA           6
UV           6
PKM          2
CW           1
PVSP         1
USC-3        1
GM           1
USC-1B       1
OX           1
LAX          1
USC-2        1
USC-1A       1
LASED        1
Name: specific_plan, dtype: int64
Column: height_district
1          851
1VL        391
2          244
1XL        194
1L         101
            84
4           38
invalid     23
3            8
Name: height_district, dtype: int64
Column: D
False    1635
True      299
Name: D, dtype: int64

### Merge

In [39]:
full = catalog.zoning.read()
full.crs = {'init':'epsg:2229'}

In [40]:
final = pd.merge(full, df2, on = 'ZONE_CMPLT', how = 'left', validate = 'm:1')

In [41]:
final = final.drop(columns = ['OBJECTID', 'no_brackets', 'Shape__Area', 'Shape__Length'])

final.head()

,ZONE_CMPLT,ZONE_CLASS,ZONE_SMRY,geometry,Q,T,zone_class,specific_plan,height_district,D,...,invalid_height,valid_zone,valid_height,overlay,o1,o2,o3,o1_descrip,o2_descrip,o3_descrip
0,C2-1-SP,C2,COMMERCIAL,"POLYGON ((6460317.049 1832062.462, 6460329.590...",False,False,C2,,1,False,...,,True,True,[SP],SP,,,,,
1,C1.5-1-SP,C1.5,COMMERCIAL,"POLYGON ((6459991.770 1832633.240, 6460066.270...",False,False,C1.5,,1,False,...,,True,True,[SP],SP,,,,,
2,C1.5-1-SP,C1.5,COMMERCIAL,"POLYGON ((6460331.280 1832633.620, 6460331.440...",False,False,C1.5,,1,False,...,,True,True,[SP],SP,,,,,
3,C1.5-1-SP,C1.5,COMMERCIAL,"POLYGON ((6460068.300 1833302.250, 6460083.350...",False,False,C1.5,,1,False,...,,True,True,[SP],SP,,,,,
4,[Q]C1.5-1,C1.5,COMMERCIAL,"POLYGON ((6479594.100 1840055.860, 6479624.020...",True,False,C1.5,,1,False,...,,True,True,,,,,,,